<!doctype html>

{{#if message}}

<div id="snackbarHome">{{message}}</div>

{{/if}}
<!-- Start Page Wrapper  -->
<main class="page-wrapper">
    <!-- Start Slider Area  -->
    <div class="rn-slider-area" id="home">
        <!-- Start Single Slide  -->
        <div
            class="slide personal-portfolio-slider slider-paralax slider-style-3 d-flex align-items-center justify-content-center bg_image bg_image--25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner text-left">
                            <span>Fullstack dev / Print Technologist</span>
                            <h1 class="title">Hello, <br>I’m <span>Olatunji</span> Olayiwola.</h1>
                            <br><span></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slide  -->
        </div>
    </div>
    <!-- End Slider Area  -->

    <!-- Start About Area  -->
    <div class="about-area rn-section-gap bg_color--1" id="about">
        <div class="about-wrapper">
            <div class="container">
                <div class="row row--35 align-items-center">
                    <div class="col-lg-5">
                        <div class="thumbnail">
                            <img class="w-100" src="/images/about/olatunji.jpg" alt="About Images" />
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about-inner inner pt--100 pt_sm--40 pt_md--40">
                            <div class="section-title">
                                <h2 class="title">About Me</h2>
                                <p class="description">I am a self taught Fullstack developer based in Lagos Nigeria.
                                    <br>
                                    Resourceful web developer with outstanding knowledge of
                                    Html, Css, javascript, Reactjs, vuejs, Nodejs, Expressjs,
                                    Handlebars, Wordpress, Development and Modification,
                                    Print management and administration. Looking to bring
                                    further favourable outcome by leveraging strong skill set and proactive demeanor.
                                    <br>
                                    I love solving problems and applying learned knowledge to things. <br>
                                    I love good music, reading and meditation.
                                </p>
                            </div>
                            <div class="tab-wrapper mt--30">
                                <ul class="nav nav-tabs tab-style--1" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="mainskill" data-toggle="tab" href="#rn-mainskill"
                                            role="tab" aria-controls="mainskill" aria-selected="true">Main skills</a>
                                    </li>
                                    {{!-- <li class="nav-item">
                                        <a class="nav-link" id="awards" data-toggle="tab" href="#rn-awards" role="tab"
                                            aria-controls="awards" aria-selected="false">Awards</a>
                                    </li> --}}
                                    <li class="nav-item">
                                        <a class="nav-link" id="experience" data-toggle="tab" href="#rn-experience"
                                            role="tab" aria-controls="experience" aria-selected="false">Experience</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="education" data-toggle="tab" href="#rn-education"
                                            role="tab" aria-controls="education" aria-selected="false">Education &
                                            Certification</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="rn-mainskill" role="tabpanel"
                                        aria-labelledby="mainskill">
                                        <div class="single-tab-content">
                                            <ul>
                                                <li><a href="service.html">Backend<span> -
                                                            Developement</span></a>Server creation with cool
                                                    functionalities with Nodejs, C++, Expressjs Mongodb, Handlebars,
                                                    Mysql.
                                                </li>
                                                <li><a href="service.html">Front-end<span> -
                                                            Development</span></a>Websites, web experiences with
                                                    Reactjs, Vuejs, Html, Css, Tailwindcss etc
                                                    ...</li>
                                                <li><a href="service.html">Print Technology<span> -
                                                            Creatives and deliverables</span></a>I
                                                    Making cool design come to life via printing with the help of tools
                                                    and machineries like Indesign, Photoshop, Coreldraw, Speedmasters,
                                                    Lithopgraphic machines etc...</li>
                                            </ul>
                                        </div>
                                    </div>
                                    {{!-- <div class="tab-pane fade" id="rn-awards" role="tabpanel"
                                        aria-labelledby="awards">
                                        <div class="single-tab-content">
                                            <ul>
                                                <li><a href="service.html">Awwwards.com <span>-
                                                            Winner</span></a> 2019 -
                                                    2020
                                                </li>
                                                <li><a href="service.html">CSS Design Awards <span>-
                                                            Winner</span></a> 2017
                                                    -
                                                    2018</li>
                                                <li><a href="service.html">Design nominees <span>- site of
                                                            the
                                                            day</span></a>
                                                    2013- 2014</li>
                                            </ul>
                                        </div>
                                    </div> --}}
                                    <div class="tab-pane fade" id="rn-experience" role="tabpanel"
                                        aria-labelledby="experience">
                                        <div class="single-tab-content">
                                            <ul>
                                                <li><a href="">C.T.O MYSPAREPARTS NIGERIA<span> -
                                                            Fullstack developer, team management and moderator.</span></a> FEB 2015 - MAY 2020
</li>
                                                <li><a href="">Front-end
                                                        Developer<span> -
                                                            EUIDEM IT SOLUTIONS</span></a> APRIL 2017 - JUNE 2019</li>
                                                <li><a href="">FREELANCING
                                                        Developer (Web)<span>
                                                        </span></a> JUNE 2019</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="rn-education" role="tabpanel"
                                        aria-labelledby="education">
                                        <div class="single-tab-content">
                                            <ul>
                                                <li><a href="">Hnd In Printin Technology<span> -
                                                           Yaba College of Technology,
                                                            Lagos, Nigeria.
                                                            </span></a> 2022</li>
                                                <li><a href="">Diploma in Printing Technology<span> -
                                                            Yaba College of Technology,
                                                            Lagos, Nigeria.</span></a> 2018</li>
                                                {{!-- <li><a href="http://rainbowit.net/service">Graphic
                                                        Designer<span> - ABC
                                                            Institute, Los Angeles,
                                                            CA</span></a> 2007</li> --}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->

    <!-- Start Service Area  -->
    {{!-- <div class="rn-service-area rn-section-gap bg_color--5" id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title service-style--3 text-center mb--20 mb_sm--0 md_md--0">
                        <h2 class="title">My Service</h2>
                        <p>Provide custom designs for businesses on digital and print needs</p>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Start Single Service  -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                    <div class="single-service service__style--2 bg-color-gray">
                        <a href="service-details.html">
                            <div class="service">
                                <div class="icon">
                                    <i data-feather="cast"></i>
                                </div>
                                <div class="content">
                                    <h3 class="title">Business Stratagy</h3>
                                    <p>I throw myself down among the tall grass by the stream as I lie close to
                                        the earth.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Single Service  -->

                <!-- Start Single Service  -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                    <div class="single-service service__style--2 bg-color-gray">
                        <a href="service-details.html">
                            <div class="service">
                                <div class="icon">
                                    <i data-feather="layers"></i>
                                </div>
                                <div class="content">
                                    <h3 class="title">Website Development</h3>
                                    <p>I throw myself down among the tall grass by the stream as I lie close to
                                        the earth.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Single Service  -->

                <!-- Start Single Service  -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                    <div class="single-service service__style--2 bg-color-gray">
                        <a href="service-details.html">
                            <div class="service">
                                <div class="icon">
                                    <i data-feather="users"></i>
                                </div>
                                <div class="content">
                                    <h3 class="title">Marketing & Reporting</h3>
                                    <p>I throw myself down among the tall grass by the stream as I lie close to
                                        the earth.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Single Service  -->

                <!-- Start Single Service  -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                    <div class="single-service service__style--2 bg-color-gray">
                        <a href="service-details.html">
                            <div class="service">
                                <div class="icon">
                                    <i data-feather="monitor"></i>
                                </div>
                                <div class="content">
                                    <h3 class="title">Mobile Development</h3>
                                    <p>I throw myself down among the tall grass by the stream as I lie close to
                                        the earth.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Single Service  -->

                <!-- Start Single Service  -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                    <div class="single-service service__style--2 bg-color-gray">
                        <a href="service-details.html">
                            <div class="service">
                                <div class="icon">
                                    <i data-feather="camera"></i>
                                </div>
                                <div class="content">
                                    <h3 class="title">Marketing & Reporting</h3>
                                    <p>I throw myself down among the tall grass by the stream as I lie close to
                                        the earth.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Single Service  -->

                <!-- Start Single Service  -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                    <div class="single-service service__style--2 bg-color-gray">
                        <a href="service-details.html">
                            <div class="service">
                                <div class="icon">
                                    <i data-feather="activity"></i>
                                </div>
                                <div class="content">
                                    <h3 class="title">Mobile Development</h3>
                                    <p>I throw myself down among the tall grass by the stream as I lie close to
                                        the earth.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Single Service  -->
            </div>
        </div>
    </div> --}}
    <!-- Start Service Area  -->

    <!-- Start Portfolio Area  -->
    <div class="rn-portfolio-area rn-section-gap bg_color--5" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title section-title--3 text-center mb--30">
                        <h2 class="title">My Latest Project</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, <br /> but the
                            majority have suffered alteration.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {{#each filteredProject}}
                <!-- Start Single Portfolio  -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="portfolio text-center">
                        <div class="thumbnail-inner">
                            {{!-- <div class="thumbnail image-8"></div> --}}
                            {{!-- <div class="bg-blr-image ">

                            </div> --}}
                            <img src="/uploads/{{file}}">
                        </div>
                        <div class="content">
                            <div class="inner">
                                {{!-- <a href="/project-detail/{{_id}}"></a> --}}
                                <p>{{title}}</p>
                                <h4>{{description}}</a>
                                </h4>
                                <div class="portfolio-button">
                                    <a class="rn-btn" target=”_blank” href="{{link}}">More details</a>
                                    {{!-- <a class="rn-btn" href="/project-detail/{{_id}}">More details</a> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Portfolio  -->

                {{/each}}

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-more-btn mt--60 mt_sm--30 text-center">
                        <a class="rn-button-style--2 btn_solid" href="/projects">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Portfolio Area  -->

    <!-- Start Blog Area  -->

    {{>home/contact-area}}
</main>
<!-- End Page Wrapper  -->


</html>